div.heading {
    text-align: center;
}

#title-name {
    padding-top: 200px;
    font-size: x-large;
    color: #4b371c;
    font-family: 'Mali', cursive;
}

#subtitle {
    font-size: medium;
    color: #4b371c;
    font-family: 'Mali', cursive;
}

.social-icons {
    text-align: center;
}

.social-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.icon-button {
    background-color:bisque;
    border: none;

}

.button-div {
    text-align: center;

}

#resume-download {
    min-width: 150px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #18130c;
    font-family: 'Mali', cursive;
    /*background-color: #c1c59f;
    border-radius: 15px;
    border: solid 3px #7d9c8d;*/
}

#resume {
    margin-top: 10px;

}


.pages-buttons {
    padding: 20px;
}

#about-button {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #315f3b;
    font-family: 'Mali', cursive;
    /*background-color: #7d9c8d;
    border-radius: 15px;
    border: solid 3px #678985;*/
    border: none;
    background-color: transparent;
}


#contact-button {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #315f3b;
    font-family: 'Mali', cursive;
    /*background-color: #df9f63;
    border-radius: 15px;
    border: solid 3px #d5796a;*/
    border: none;
    background-color: transparent;
}



#projects-button {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #315f3b;
    font-family: 'Mali', cursive;
    /*background-color: #ebbb8c;
    border-radius: 15px;
    border: solid 3px #d48e73;*/
    border: none;
    background-color: transparent;
}

nav {
    justify-content: center;
    background-color:bisque;
    width: 300px;
}

body {
    background-color: bisque;
}

.nav-item {
    font-family: 'Mali', cursive;
    font-size: 30px;
}

.navbar-brand {
    font-family: 'Mali', cursive;
    font-size: 40px;
}

section#about {
    margin-top: 450px;
}

section#contact {
    margin-top: 150px;
}
section#projects {
    margin-top: 150px;
}

section#home {
    
}

p {
}
.project-button {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #4b371c;
    font-family: 'Mali', cursive;
    background-color: #df9f63;
    border-radius: 15px;
    border: solid 3px #d5796a;
   
}

h1, p {
    font-family: 'Mali', cursive;

}