div.heading {
    text-align: center;
}

#title-name {
    padding-top: 100px;
    font-size: x-large;
    color: #4b371c;
    font-family: 'Mali', cursive;
}

#subtitle {
    font-size: medium;
    color: #4b371c;
    font-family: 'Mali', cursive;
}

.social-icons {
    text-align: center;
}

.social-icon {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-button {
    background-color: bisque;
    border: none;
}

.button-div {
    text-align: center;

}

#resume-download {
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    color: #18130c;
    font-family: 'Mali', cursive;
    background-color: #869e97;
    border-radius: 15px;
    border: solid 3px #678985
}

#resume {
    margin-top: 100px;
}