@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');
body {
    background-color: #e197e7;

}

h1 {
    margin-top: 50px;
    font-size: xxx-large;
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
}
h3 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
button {
    border-radius: 20px;
    padding: 10px;
    border-color: black;
}