@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');

body {
    background-color: #e197e7;

}
h1 {
    font-family:  'Oswald',sans-serif;
    color: black;
    font-size: xx-large
}
h2 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
}

#main-container { 
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}


.button {
    background-color: none;
    border: none;
}


/*
    Fade in text effect provided by Maddy Osmon from 
    https://blog.hubspot.com/website/css-fade-in
*/
.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }