@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');


body {
    background-image: url(../images/background-shades.png);

}

h1 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: x-large;
    text-align: center;
}

hr {
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 40%;
}
h3 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
.button {
    background-color: rgb(144, 90, 194);
    border-radius: 20px;
    font-size: large;
    font-family: 'Gloria Hallelujah', cursive;
}

#preview-image {
    width: 550px;
    margin-left: 35%;
}

#download {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: large;
    text-align: center;
    margin-top: 30px;
}

