@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');

p {
    margin: 10px;
}

div {
    color: rgb(255, 255, 255);
    background-color: 009900;
    margin: 2px;
    font-size: 25px;
}

.menu {
    font-size: large;
    background-color: rgb(137, 0, 229);
    border-radius: 20px;
    padding: 6px;
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 100px;
    margin-top: 30px;
}

#info-box {
    background-color: rgb(229, 79, 119);
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
    border-style:groove;
    border-color: rgb(98, 41, 41);
    border-width: 5px;
}

.social-button {
    background-color: rgb(78, 79, 194);
    font-size: x-large;
    margin: 20px;
}

.social-sec {
    margin-bottom: 50px;
}

.button {
    background-color: none;
    border: none;
}

#home-button {
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px;
    border-color: black;
}