@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');

body {
    background-color: #e197e7;

}

h2 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
}
h3 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
#info-box {
    background-color: rgb(229, 79, 119);
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
    border-style:groove;
    border-color: rgb(98, 41, 41);
    border-width: 5px;
}

.social-button {
    border-color: black;
    background-color: rgb(78, 79, 194);
    font-family: 'Gloria Hallelujah';
    font-size: xx-large;
    border-radius: 20%;
    margin: 20px;
}

.social-sec {
    margin-bottom: 50px;
}

.button {
    background-color: none;
    border: none;
}

#home-button {
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px;
    border-color: black;
}