@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Oswald:wght@300&display=swap');

body {
    background-image: url(../images/background-shades.png);

}

h2 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
}

.row {
    display: flex;
}

   
.column {
    flex: 50%;
    padding: 10px;
    margin-left: 200px;
}

.row-info {
    display: flex;
}

   
.column-info {
    flex: 25%;
}

.button {
    background-color: none;
    border: none;
}


#featuredProjects-projects-projInfoBox {
    background-color: #1c1a1d;
    margin-left: -100px;
    height: 200px;
    width: 600px;
    border-radius: 30px;
    color: white;
    margin-top: 30px;
   
}

#projInfoBox-title {
    padding-left: 20px;
    padding-top: 20px;
    font-size: xx-large;
}

#languageLogo {
    height: 40px;
    width: 40px;
    margin-left: 550px;
    margin-top: 50px;
       
}

#projInfoBox-desc {
    color: #484649;
    padding-left: 10px;
    margin-top: 10px;
}

#skill-skills-skillInfoBox {
    background-color: #1c1a1d;
    margin-left: -0px;
    height: 200px;
    width: 400px;
    border-radius: 30px;
    color: white;
    margin-top: 30px;
   
}

#skillInfoBox-title {
    padding-left: 20px;
    padding-top: 20px;
    font-size: xx-large;
}


#skillInfoBox-desc {
    color: #484649;
    padding-left: 10px;
    margin-top: 10px;
}


#menuButton {
    color: white;
    background:none;
    border: none;
    padding: 0;
    width: 150px;
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
}

#menuBar {
    background-color: #1c1a1d;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

#menuContainer {
    align-self: center;
    justify-content: center;
    min-width:700px;
    max-width: 700px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

/*
    Fade in text effect provided by Maddy Osmon from 
    https://blog.hubspot.com/website/css-fade-in
*/
.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }