# typescript
*.tsbuildinfo
next-env.d.ts
.env
.hintrc

# local env files
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
/.next/
/out/

# production
/build

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage


# misc
.DS_Store