@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

#titleName {
    font-family: 'Alexandria', serif;
}

#resumeLink {
    font-family: 'Alexandria', serif;
    color: black;
    text-decoration: none;
}

#projectHeadline {
    font-family: 'Alexandria', serif;
}

hr {
    width: 50%
}


.card-title {
    font-family: 'Alexandria', serif;
}

.card-text {
    font-family: 'Alexandria', serif;
    text-align: center;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


img {
    height: 50px;
    margin:none;
}

img.social-icon {
    filter: grayscale(100%);
    width: 50px;
    height: auto;
}
image#linkedin-icon {
    filter: opacity(70%);
}

.aplus {
    width: 150px;
    height: 150px;
}

.hoverbanner {
    position: fixed;
    right: 0%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Alexandria', serif;
    border: none;
    z-index: 1000;
    font-size: small;
    color: black;
}