@font-face {
    font-family: noot;
    src: url(/fonts/noot.ttf); 
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.ttf); 
}
body
{
    background-color: #98e0e5;
    overflow:hidden;
     margin:0;
}
footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -25px; 
    left: 580px; 
    animation: 2s anim-lineUp ease-out;
}

h3 {
    font-family: norwester; 
    font-size: 36px;
      animation: 2s anim-lineUp ease-out;
}

.road-signs {
    top: -160px; 
    left: 100px;
    position: absolute;
     
}

.first-txt {
    position: absolute; 
    top: 170px; 
    left: 420px;
    text-align: center;
}
.first-txt2 {
    position: absolute; 
    top: 210px; 
    left: 330px;
    
}

.second-txt {
    position: absolute; 
    top: 280px; 
    left: 625px; 
}

.third-txt {
    position: absolute; 
    top: 375px; 
    left: 630px; 
}

.fourth-txt {
    position: absolute; 
    top: 484px; 
    left: 550px; 
}
.fifth-txt {
    position: absolute; 
    top: 620px; 
    left: 585px; 
}

#goback_btn {
    font-family: norwester;
    font-size: 35px;
    color: white; 
    background-color: #155ac1; 
    padding: 10px 20px;
    top: 649px; 
    left: 280px; 
    position: absolute; 
    border-radius: 12px; 
    border: 1px solid #155ac1; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}
.next p {
    font-family: norwester; 
    font-size: 35px; 
    background-color: #155ac1; 
    color: white;
    top: 612px; 
    right: 280px;  
    padding: 10px 20px; 
    position: absolute; 
    border: 1px solid #155ac1; 
    border-radius: 12px; 
    cursor: pointer; 
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}