@font-face {
    font-family: noot;
    src: url(/fonts/noot.ttf); 
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.ttf); 
}

body
{
    background-color: #98e0e5;
    /* overflow:hidden; */
     margin:0;
     z-index:10;
}

 #stateId
 {
        font-size: 0px;
    color: transparent;
 }

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
}

h2 {
    font-family: norwester; 
    font-size: 45px; 
    color: black; 
}

.title1 {
    top: -50px; 
    left: 480px; 
    position: absolute; 
}

.title2 {
   top: 70px;
    position: relative; 
    text-align: center;
}

.florida-sun {
    top: -100px; 
    left: -100px; 
    position: absolute; 
}

.florida-gator {
    top: 380px; 
    left: 990px; 
    position: absolute; 
}

.cowboy-hat {
    top: 400px; 
    left: 1020px; 
    position: absolute; 
}

.oscar {
    top: 350px; 
    left: 1050px; 
    position: absolute; 
}

#goback_btn {
    font-family: norwester;
    font-size: 35px;
    color: white; 
    background-color: #155ac1; 
    padding: 10px 20px;
    top: 45px; 
    left: 20px; 
    position: absolute; 
    border-radius: 12px; 
    border: 1px solid #155ac1; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}

#backtolist_btn {
    font-family: norwester;
    font-size: 35px;
    color: white; 
    background-color: #155ac1; 
    padding: 10px 20px;
    top: 45px; 
    left: 1190px; 
    position: absolute; 
    border-radius: 12px; 
    border: 1px solid #155ac1; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}

/* .menu-bar-top {
    top: 70px; 
    left: 420px; 
    position: absolute; 
}

.menu-bar-middle {
    top: 220px; 
    left: 420px; 
    position: absolute; 
}

.menu-bar-bottom {
    top: 370px; 
    left: 420px; 
    position: absolute; 
} */
/* 
.triangle-button-top {
    top: 275px; 
    left: 470px; 
    position: absolute; 
}

.triangle-button-middle {
    top: 425px; 
    left: 470px; 
    position: absolute; 
}
.triangle-button-bottom {
    top: 575px; 
    left: 470px; 
    position: absolute; 
} */

/* .road-rules-text {
    top: 310px; 
    left: 630px; 
    position: absolute; 
}

.fun-facts-text {
    top: 460px; 
    left: 630px; 
    position: absolute; 
}

.landmarks-text {
    top: 610px; 
    left: 630px; 
    position: absolute; 
} */
/* Style the buttons that are used to open and close the accordion panel */

/* .accordion:after {
  content: "\➤"; /* Unicode character for "plus" sign (+) */
  /* font-size: 50px;
  color: rgb(3, 2, 2);
  float: left;
  margin-left: 20px;
} */

/* .active:after {
  content: "\▼"; /* Unicode character for "minus" sign (-) */
/* } */  