@font-face {
    font-family: 'Ginto Nord Bold';
    src: url('../fonts/GintoNord-Bold-6d41fe5595f462704406b43d76c144d71aa6b466aaff8fb5618281c9135445a0.woff2');
}


h1 {
    font-family: 'Ginto Nord Bold';
    font-size: 3em;
    color: #e8d3b3;
    text-align: center;
    filter: drop-shadow(-1.5mm 1.5mm black);
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}
hr {
    margin: auto;
    width: 50%;
}
nav {
    background: none;
    background-color: #59939B;
    text-align: center;
    border: 5px solid black;
    padding: -5px;
}

.nav-item {
    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #EBE7C8;
    filter: drop-shadow(-1.5mm 1.5mm black);
}
.subtitle {
    text-align: center;
    background-color: black;
    color: white;
    filter: drop-shadow(-1.5mm 1.5mm #59939B);
    font-size: x-large;
    margin: 60px;
    padding: 10px;
}
.sub-wrapper {
    width: max-content;
}

.purple-body {
    background-color: #6F65AD;
    border: 5px solid black;
    padding: -5px;
}

.orange-body {
    background-color: #D48F68;
    /* set height equal to remaining device space */
    height: 52vh;
    border: 5px solid black;
    padding: -5px;
}

.info-box {
    background-color: white;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
    filter: drop-shadow(-1.5mm 1.5mm black);
    width: max-content;
    font: 45px bold;
}

.card {
    background: none;
    width: 18rem;
    border: none;
}


