body {
    background-color: #ebebeb;
}
hr {
    margin: auto;
    width: 50%;
}
nav {
    background-color: #16161D;
}
.subtitle {
    font-size: x-large;
    font-style: italic;
    color: #666;
}

#home-head {
    font-weight: 800;
}
