body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

header {
    background-color: rgb(22,60,44);
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main.topic {
    padding-top: 2em;
    padding-bottom: 2em;
}

section.category {
    background-color: rgb(22,60,44);
    color: rgb(188,230,190);
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 3%;
    margin-right: 3%;
}

section.category h2 {
    color: white;
}

footer {
    background-color: rgb(22,60,44);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
